
<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
                src={{photoCover}}
                alt = ""
                height="200px"
                srcset=""
            >
        </div>
        <div class="small-card__title">
          <a [routerLink]="['content',id]"> {{cardTitle}}</a>
        </div>
        <div class="small-card__description">
          <p><a [routerLink]="['content',id]"> {{cardDescription}}</a></p>
        </div>
    </div>
    <div class="small-card__separator">
        <hr>
    </div>
</div>
