.container__small-card{
  margin-left: 50px;
    font-size: 20px;
    width: 700px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card__photo > img {
width: 100%;
max-width: 200px;
margin-right: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

.small-card__title{
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.container__small-card-content{
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.small-card__separator{
    margin-top: 10px;
}

.small-card__description {
  margin-top: 10px;
}
.small-card__description > p > a{

  color: grey;
}
